.page, h1, h2, p, a {
  margin: 0;
  font-size: 30px;
  font-weight : normal;
}
* {
  box-sizing : border-box;
}
.page {
  background-image: url('/img/back.avif');
  width: 70%;
  font-family: 'Andale Mono', monospace;
  margin-right: auto;
  margin-left: auto;
}
.header {
  display: flex;
  border-radius: 10px;
  margin: 45px auto 20px auto;
  height: 40px;
  flex-shrink: 0;
  background-color: #FFEBCD;
  text-align: center;
}
.header__title {
  margin-up: 10px;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  margin : auto;
}
.content {
  background-color: #FFEBCD;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width : 100%;
  margin: 0 auto 0 auto;
}
.information_border_top {
 border-top: solid 2px white;
}
.information {
  padding-top: 1%;
  padding-left: 4%;
  padding-right: 4%;
  align-items: center;
  word-wrap: break-word;
  height: auto;
  flex-direction: column;
  display: flex;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.information_without-padding {
 padding-left: 0;
  padding-right: 0;
}
.information__my-photo {
  box-shadow: 0 0 7px #666;
  border-radius: 50%;
  overflow: hidden;
  height: 50%;
  min_width: 500px;
  width: 50%;
}
.title {
  width: 100%;
  font-size: 2em;
}
.text {
  word-wrap: break-word;
}
.title_smaller {
  font-size: 130%;
}
.information__interest-photo {
  padding-right: 4%;
  padding-left: 4%;
  height: 100%;
  width:100%;
}
.list {
  margin-top: 0;
  margin-bottom :0;
  list-style: none;
  padding-left: 0;
}

.information__interests {
  border-right:none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.information__interest {
  border-right: none;
  width : 100%;
  display:flex;
  flex-direction: row;
}
.information__interest_with-bottom-and-right-border {
  border-right:solid 1px white;
}
.information__photo-box {
  width : 100%;
  height: 100%;
}
.information__photo-box_with-left-border {
    border-left: solid 1px white;
}
.footer {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 20px auto 20px auto;
  background-color: #FFEBCD;
  text-align: center;
  min_height: 7vh;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.footer__links {
  align-items: center;
  justify-content: center;
  height: 80%;
  max-width: 200px;
  width:50%;
  display: flex;
  flex-direction: row;
}
.footer__link {
  width: 33%;
  height: 100%;
}
.social-link {
  max-width: 56px;
  width: 100%;
}
.text_with-margin {
  margin-top: 10px;
}
@media (max-width: 768px) {
    .page, p, h1 {
        font-size: 1.2rem;
    }
    .information__interests {
       flex-direction: column;
    }
    .information__interest_with-bottom-and-right-border {
      border-bottom: solid 1px white;
      border-right: none;
    }
    .information__interest-photo {
      height:10%;
    }
}
